@model PagedList.IPagedList<GolfClubMLD.Models.GolfCourseBO>
@using GolfClubMLD.Models
@using PagedList.Mvc
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-6">
        <h2>Svi tereni</h2>
        @Html.Partial("GolfCourses")
    </div>
</div>
