@model PagedList.IPagedList<GolfClubMLD.Models.GolfCourseBO>
@using GolfClubMLD.Models
@using PagedList.Mvc
@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
<div class="jumbotron">
    <div class="col-md-6">
        <h2>Svi tereni</h2>
        @Html.Partial("GolfCourses")
    </div>
</div>
