@model IEnumerable<GolfClubMLD.Models.GolfCourseBO>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-6">
        <h2>Pretraga</h2>
        <form asp-controller="Home" asp-action="Index" method="get">
            <input type="text" name="SearchString" />
            <input type="submit" value="Pretrazi">
        </form>
    </div>
    <div class="col-md-6">
        <h2>Svi tereni</h2>
        @foreach(var item in Model)
            {
                @item.Name        @item.Price       @item.CourseType.Name   @item.CourseType.Surfc
                <br/>
            }
    </div>
</div>