@model List<GolfClubMLD.Models.CourseTermBO>
@using GolfClubMLD.Models
@{
    ViewBag.Title = "ReserveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReserveCourse</h2>
@{ var mod = Model.First();
    string[] days = new string[7] {"Monday", "Tuesday", "Wendsday", "Thursday", "Friday", "Saturday", "Sunday"};
    }
<form asp-controller="Customer" asp-action="ReserveCourse" method="get">
    <input type="hidden" name="courseId" value="@mod.CourseId" />
    <select name="selDay" id="selDay" onchange="this.form.submit();">
        <option value="Mon" selected>Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wen">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
        <option value="Sun">Sunday</option>
    </select>
</form>
<form asp-controller="Customer" asp-action="ReserveCourse" method="post">
    <select name="SearchString">
        @foreach (var ct in Model)
            {
               <option value="@ct.TermId">@ct.Term.StartTime - @ct.Term.EndTime</option>
            }
    </select>
    <input type="submit" value="Potvrdi" />
</form>